{
  "semi": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-jsdoc"],
  "overrides": [
    {
      "files": ["i18n/*/*.html"],
      "options": {
        "proseWrap": "never",
        "htmlWhitespaceSensitivity": "strict",
        "printWidth": 1111691111
      }
    }
  ]
}
