.oled-mode {
  --color-icon: #96a2b0;
  --color-text: #b0bac5;
  --color-heading: #c4cfdd;
  --color-bg: #000000;
  --color-raised-bg: #101013;
  --color-divider: #474b54;
  --color-divider-dark: #646c75;

  --color-brand: #1cdf8b;
  --color-brand-hover: #2ef19f;
  --color-brand-active: #55f5ae;
  --color-brand-light: #30b27b;
  --color-brand-inverted: #000;
  --color-brand-2: #30b27b;
  --color-brand-3: #30b27b;
  --color-brand-disabled: #414146;


  --color-button-bg: #222329;
  --color-button-bg: #3e434b;
  --color-button-text: var(--color-text);
  --color-button-bg-hover: #2d2d32;
  --color-button-text-hover: #ffffff;
  --color-button-bg-active: #3c3c40;
  --color-button-text-active: var(--color-button-text-hover);
  --color-button-text-disabled: #444444;

  --color-ad: #2c323a;

  --color-link: #4793d9;

  --color-badge-gray-bg: #646161;
  --color-badge-gray-text: #c8c1c1;
  --color-badge-red-text: #bd1a48;
  --color-badge-red-bg: #DB3162;
  --color-badge-green-text: #1ebb7b;
  --color-badge-green-bg: #24a54e;
  --color-badge-yellow-text: #755920;
  --color-badge-yellow-bg: #F7BB43;

  --color-table-border: #4f5864;
  --color-table-alternate-row: #262a30;
}
