/*
  Base components
*/

// TODO: maybe move to omorphia
.vertical-navbar {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  margin-bottom: var(--gap-lg);
  padding-inline: calc(var(--gap-xl) - 1.1rem - 0.5rem);
  flex-wrap: wrap;

  a {
    display: flex;
    align-items: center;
    padding: var(--gap-sm) var(--gap-md);
    border-radius: var(--radius-md);
    font-weight: 500;

    svg {
      margin-right: 0.5rem;
    }

    &.router-link-exact-active {
      background-color: var(--color-button-bg);
      color: var(--color-contrast);
    }

    .chevron {
      margin-left: auto;
    }
  }
}

.known-error .multiselect__tags {
  border-color: var(--color-red) !important;
  background-color: var(--color-red-bg) !important;

  &::placeholder {
    color: var(--color-red);
  }
}

.text-input-wrapper.known-error,
input.known-error,
textarea.known-error {
  outline: 2px solid var(--color-red);
  background-color: var(--color-red-bg) !important;

  &::placeholder {
    color: var(--color-red);
  }
}

.known-errors {
  min-height: 0;
  color: var(--color-red);

  ul {
    margin: 0;
  }
}

.error {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .icon {
    width: 8rem;
    height: 8rem;
    margin: 1.5rem 0;
  }

  .text {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    text-align: center;
  }

  .link {
    cursor: pointer;
    text-decoration: underline;
  }
}

.grid-display {
  display: grid;
  grid-gap: var(--gap-md);
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

  .grid-display__item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--color-bg);
    border-radius: var(--round-card);
    padding: var(--gap-xl);
    gap: var(--gap-md);

    .label {
      color: var(--color-base);
      filter: brightness(1.1);
      font-weight: bold;
      font-size: 1rem;
    }

    .value {
      color: var(--color-contrast);
      font-weight: bold;
      font-size: 2rem;
    }

    .goto-link {
      margin-top: auto;
    }
  }

  &.width-12 {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  &.width-16 {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}

/*
  Other
 */

.text-link {
  color: var(--color-blue);

  &:focus-visible,
  &:hover {
    filter: brightness(1.1);
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    filter: brightness(1.2);
  }
}

.title-link {
  text-decoration: underline;

  &:focus-visible,
  &:hover {
    color: var(--color-base);
    filter: brightness(1.1);
  }

  &:active {
    color: var(--color-contrast);
  }
}

// TODO: get rid of this (deprecated)
//:not(tr).button-transparent {
//  @extend .button-base;
//  background-color: transparent;
//  border-radius: var(--radius-sm);
//
//  &:focus-visible:not(&:disabled),
//  &:hover:not(&:disabled),
//  &:active:not(&:disabled) {
//    background-color: var(--color-raised-bg);
//  }
//
//  &.btn-primary {
//    color: var(--color-brand);
//  }
//
//  &.btn-red {
//    color: var(--color-red);
//  }
//}
//
//tr.button-transparent {
//  @extend .button-animation;
//  background-color: transparent;
//  border-radius: var(--radius-sm);
//
//  &:focus-visible:not(&:disabled) > *,
//  &:hover:not(&:disabled) > * {
//    cursor: pointer;
//    filter: brightness(var(--hover-filter));
//    background-color: var(--color-raised-bg);
//  }
//
//  &:active:not(&:disabled) > * {
//    filter: brightness(var(--active-filter));
//    background-color: var(--color-raised-bg);
//  }
//
//  &:disabled > *,
//  &[disabled='true'] > * {
//    cursor: not-allowed;
//    filter: grayscale(50%);
//    opacity: 0.5;
//    box-shadow: none;
//  }
//}
// end todo

// TODO inline this
.full-width-inputs {
  .multiselect,
  input,
  .iconified-input {
    width: 100%;
    flex-basis: 100%;
  }
}
// end todo

.text-input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--color-button-bg);
  width: fit-content;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-inset-sm), 0 0 0 0 transparent;
  transition: box-shadow 0.1s ease-in-out;
  overflow: hidden;
  max-width: 100%;

  .text-input-wrapper__before {
    display: flex;
    color: var(--color-base);
    padding: 0.5rem 0 0.5rem 1rem;
    font-weight: var(--font-weight-medium);
    min-height: 40px;
    box-sizing: border-box;
    width: fit-content;
    align-items: center;
    filter: grayscale(50%);
    opacity: 0.5;
    box-shadow: none;
    flex-shrink: 0;
  }

  input,
  textarea {
    border-radius: 0;
    background-color: transparent;
    box-shadow: unset;
    padding-left: 0;
    flex-grow: 1;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    box-shadow: inset 0 0 0 transparent, 0 0 0 0.25rem var(--color-brand-shadow);
    color: var(--color-contrast);
  }
}

.primary-stat {
  align-items: flex-start;
  display: flex;
  margin-bottom: 0.6rem;
  width: fit-content;

  .primary-stat__icon {
    width: 1.1rem;
    height: 1.1rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: var(--color-secondary);
  }

  .primary-stat__text {
    color: var(--color-secondary);
  }

  .primary-stat__counter {
    color: var(--color-base);
    font-weight: 600;
  }
}

.backed-svg {
  --size: 2.5rem;
  border-radius: var(--radius-sm);
  background-color: var(--color-button-bg);
  width: var(--size);
  height: var(--size);
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    width: calc(0.6 * var(--size));
    height: calc(0.6 * var(--size));
  }

  &.circle {
    border-radius: 50%;
  }

  &.raised {
    background-color: var(--color-raised-bg);
  }
}

a.iconified-link,
a.iconified-stacked-link {
  display: contents;

  .space {
    opacity: 0;
  }

  .title {
    font-weight: bold;
  }

  .stacked {
    display: inline-flex;
    flex-direction: column;
  }

  &:focus-visible .title,
  &:hover .title {
    text-decoration: underline;
    filter: var(--hover-filter);
  }

  &:active .title {
    filter: var(--active-filter);
  }
}

a.iconified-link {
  &:focus-visible span,
  &:hover span {
    text-decoration: underline;
    filter: var(--hover-filter);
  }

  &:active span {
    filter: var(--active-filter);
  }
}

.inline-svg svg,
svg.inline-svg {
  vertical-align: middle;
}

.sidebar-card-header {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-base);
  filter: brightness(1.1);
  margin-bottom: 0.3rem;
  width: fit-content;
}

.search-row {
  margin-bottom: var(--gap-lg);
  display: flex;
  align-items: center;
  gap: var(--gap-lg) var(--gap-sm);
  flex-wrap: wrap;
  justify-content: center;

  .iconified-input {
    flex-grow: 1;

    input {
      height: 2rem;
      background-color: var(--color-raised-bg);
      border: var(--card-border-width) solid var(--color-divider);
      box-shadow: var(--shadow-card);
    }
  }
}
