.light-mode {
  --color-text:#1e2531;
  --color-bg: #f9f9f9;;

  --color-text-inverted: var(--color-bg);
  --color-bg-inverted: var(--color-text);

  --color-brand: #4d9227;
  --color-brand-inverted: #ffffff;
  --color-brand-2: #5fa33b;
  --color-brand-3: #c5ddb7;

  --color-grey-0: #edf0f1;
  --color-grey-1: #ffffff;
  --color-grey-2: #dadce0;
  --color-grey-3: #dadada;
  --color-grey-4: #a3a3a3;
  --color-grey-5: #727272;
  --color-grey-6: #505050;
  --color-grey-7: #2d3748;

  --color-ad: #e4edfc;

  --shadow-faint: 0px 0px 8px hsla(0, 0%, 0%, 0.05);
  
  --color-link: #2089ff;
}

.dark-mode {
  --color-text: #ffffff;
  --color-bg: #171719;

  --color-text-inverted: var(--color-bg);
  --color-bg-inverted: var(--color-text);

  --color-brand: #4d9227;
  --color-brand-inverted: #ffffff;  
  --color-brand-2: #438121;
  --color-brand-3: #344d26;

  --color-grey-7: #f7faf0;
  --color-grey-6: #f7f2eb;
  --color-grey-5: #ede9e4;
  --color-grey-4: #979797;
  --color-grey-3: #545458;
  --color-grey-2: #333336;
  --color-grey-1: #2a2a2c;
  --color-grey-0: #1f1f1f;
  
  --color-ad: #2c323a;
  
  --shadow-faint: none;

  --color-link: #4793d9;
}

body {
  // Defaults
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Roboto, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;

  // Rounding sizes
  --size-rounded-xs: 0.5rem;
  --size-rounded-sm: 0.75rem;
  --size-rounded-md: 1rem;
  --size-rounded-lg: 1.25rem;

  // Font Sizes
  --font-size-xs: 0.75rem;    //12px
  --font-size-sm: 0.875rem;   //14px
  --font-size-nm: 1rem;       //16px
  --font-size-md: 1.125rem;   //18px
  --font-size-lg: 1.25rem;    //20px
  --font-size-xl: 1.5rem;     //24px
  --font-size-2xl: 2rem;      //32px
  --font-size-3xl: 3rem;      //48px
}

svg {
  height: 24px;
  width: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

button {
  border: none;
  color: var(--color-text);
  cursor: pointer;
  outline: none;
}

input {
  background: var(--color-grey-2);
  border: none;
  border-radius: var(--size-rounded-sm);
  color: var(--color-text);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  width: 100%;

  &:focus {
    background: var(--color-grey-3);
  }

  &:focus,
  &:hover {
    color: var(--color-text);
    outline: none;

    &::placeholder {
      color: var(--color-grey-7);
    }
  }

  &::placeholder {
    color: var(--color-grey-6);
  }
}

.ea-content {
  background: var(--color-ad) !important;
  border-radius: var(--size-rounded-xs) var(--size-rounded-xs) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  box-shadow: var(--shadow-faint) !important;
}

.ea-callout {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

@import "~assets/styles/layout.scss";
@import "~assets/styles/utils.scss";
@import "~assets/styles/components.scss";
@import "~assets/styles/normalize.scss";
