.oled-mode {
  --color-bg: #000000;
  --color-raised-bg: #010102;
  --color-button-bg: #17191c;
  --color-alt-bg: #19191c;
}

.retro-mode {
  --color-bg: #191917;
  --color-raised-bg: #1d1e1b;
  --color-button-bg: #3a3b38;
  --color-base: #c3c4b3;
  --color-secondary: #777a74;
  --color-contrast: #e6e2d1;

  --color-brand: #4d9227;
  --color-brand-highlight: #25421e;
  --color-ad: var(--color-brand-highlight);
  --color-ad-raised: var(--color-brand);
  --color-ad-contrast: black;
  --color-ad-highlight: var(--color-brand);

  --color-red: rgb(232, 32, 13);
  --color-orange: rgb(232, 141, 13);
  --color-green: rgb(60, 219, 54);
  --color-blue: rgb(9, 159, 239);
  --color-purple: rgb(139, 129, 230);
  --color-gray: #718096;
}

body {
  --size-mobile-navbar-height: 4rem;
  --size-mobile-navbar-height-expanded: 13.75rem;

  @media screen and (min-width: 320px) {
    --size-mobile-navbar-height-expanded: 11.5rem;
  }

  @media screen and (min-width: 432px) {
    --size-mobile-navbar-height-expanded: 9.25rem;
  }

  @media screen and (min-width: 765px) {
    --size-mobile-navbar-height-expanded: 7rem;
  }
}

@import '~/assets/styles/layout.scss';
@import '~/assets/styles/utils.scss';
@import '~/assets/styles/components.scss';
