%card {
  background: var(--color-raised-bg);
  border-radius: var(--size-rounded-card);
}

%card-spaced-b {
  @extend %card;
  margin-bottom: var(--spacing-card-md);
}

%row {
  display: flex;
  flex-direction: row;
}

%column {
  display: flex;
  flex-direction: column;
}

%transparent-clickable {
  border-radius: var(--size-rounded-control);
  color: var(--color-text);
  background-color: transparent;
  &:focus,
  &:hover,
  &.selected,
  &.nuxt-link-exact-active {
    color: var(--color-transparent-button-text-hover);
    background-color: var(--color-transparent-button-bg-hover);
  }
  &:active {
    color: var(--color-transparent-button-text-active);
    background-color: var(--color-transparent-button-bg-active);
  }
}

%label {
  color: var(--color-text);
  font-weight: var(--font-weight-extrabold);
  letter-spacing: 0.02rem;
  margin: 0;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}

%small-label {
  @extend %label;
  color: var(--color-text);
  font-size: var(--font-size-xxs);
  letter-spacing: 0.02rem;
}

%large-label {
  @extend %label;
  color: var(--color-text);
  font-size: var(--font-size-xs);
  margin-bottom: 0.5em;
}