%card {
  @extend %card-shadow;

  background: var(--color-raised-bg);
  border-radius: var(--size-rounded-card);
}

%card-spaced-b {
  @extend %card;
  margin-bottom: var(--spacing-card-md);
}

%card-shadow {
  box-shadow: 0 2px 4px 0 rgba(17, 24, 39, 0.1),
    0 -2px 2px 0 rgba(17, 24, 39, 0.05);
}

%image-shadow {
  box-shadow: inset 0px -2px 2px rgba(17, 24, 39, 0.1);
  filter: drop-shadow(0px 2px 4px rgba(17, 24, 39, 0.2));
}

%row {
  display: flex;
  flex-direction: row;
}

%column {
  display: flex;
  flex-direction: column;
}

%transparent-clickable {
  border-radius: var(--size-rounded-control);
  color: var(--color-text);
  background-color: transparent;

  &:focus,
  &:hover,
  &.selected,
  &.nuxt-link-exact-active,
  &.active-path {
    color: var(--color-transparent-button-text-hover);
    background-color: var(--color-transparent-button-bg-hover);
  }

  &:active {
    color: var(--color-transparent-button-text-active);
    background-color: var(--color-transparent-button-bg-active);
  }
}

%new-label {
  font-weight: bold;
  color: var(--color-heading);
  margin-bottom: 0.3rem;
}

%label {
  color: var(--color-text);
  font-weight: var(--font-weight-extrabold);
  letter-spacing: 0.02rem;
  margin: 0 0 0.25em;
}

%small-label {
  @extend %label;
  color: var(--color-heading);
  font-size: var(--font-size-xs);
  letter-spacing: 0.02rem;
}

%large-label {
  @extend %label;
  color: var(--color-text);
  font-size: var(--font-size-sm);
  margin-bottom: 0.5em;
}

%stat {
  margin-top: 0.5rem;
  margin-right: 1rem;
  @extend %row;

  @media screen and (min-width: 900px) {
    margin-top: 0;
  }

  svg {
    margin: auto 0.5rem auto 0;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-icon);
  }

  .info {
    margin: auto 0;
    white-space: nowrap;

    h4 {
      @extend %small-label;
    }

    .value {
      font-size: var(--font-size-sm);
      margin: 0;
    }

    .capitalize {
      text-transform: capitalize;
    }

    .ellipsis {
      text-overflow: ellipsis;
    }
  }
}
