%card {
  background: var(--color-raised-bg);
  border-radius: var(--size-rounded-card);
}

%card-spaced-b {
  @extend %card;
  margin-bottom: var(--spacing-card-md);
}

%row {
  display: flex;
  flex-direction: row;
}

%column {
  display: flex;
  flex-direction: column;
}