.columns {
  display: flex;

  @for $i from 1 through 5 {
    .column-grow-#{$i} {
      flex-grow: $i;
    }
  }
}

.rows {
  display: flex;
  flex-direction: column;

  @for $i from 1 through 4 {
    .row-grow-#{$i} {
      flex-grow: $i;
    }
  }
}

.normal-page {
  display: grid;

  grid-template:
    'header'
    'sidebar'
    'content'
    'info'
    / 100%;

  .normal-page__sidebar {
    grid-area: sidebar;
  }

  .normal-page__info {
    grid-area: info;
  }

  .normal-page__content {
    grid-area: content;
  }

  .normal-page__header {
    grid-area: header;
  }
}

.normal-page__header h1:first-child,
.normal-page-heading {
  margin-block: var(--gap-sm) var(--gap-lg);
  font-size: 2em;
  line-height: 1em;
}

.settings-page {
  display: grid;

  grid-template:
    'header'
    'sidebar'
    'content'
    'info'
    / 100%;

  @media screen and (max-width: 1024px) {
    margin-top: var(--spacing-card-md);
  }

  .settings-page__sidebar {
    grid-area: sidebar;
  }

  .settings-page__info {
    grid-area: info;
  }

  .settings-page__content {
    grid-area: content;
  }

  .settings-page__header {
    grid-area: header;
  }
}

@media (min-width: 1024px) {
  .normal-page {
    margin: 0 auto;
    max-width: 1280px;
    column-gap: var(--gap-lg);

    grid-template:
      'header header' auto
      'content sidebar' auto
      'content info' auto
      'content dummy' 1fr
      / 1fr 20rem;

    &.alt-layout {
      grid-template:
        'header header' auto
        'sidebar content' auto
        'info content' auto
        'dummy content' 1fr
        / 20rem 1fr;
    }
  }

  .normal-page__sidebar {
    min-width: 20rem;
    width: 20rem;
  }

  .normal-page__content {
    max-width: calc(60rem - var(--gap-lg));
  }
  .settings-page {
    column-gap: var(--gap-lg);

    grid-template:
      'header header' auto
      'sidebar content' auto
      'info content' auto
      'dummy content' 1fr
      / 15rem 1fr;
  }

  .settings-page__sidebar {
    min-width: 15rem;
    width: 15rem;
    position: sticky;
    top: var(--gap-lg);
  }

  .settings-page__content {
    max-width: calc(65rem - var(--gap-lg));
  }
}
