.normal-page {
  display: flex;
  flex-direction: column;
  margin: 0 0.75rem;
}

.narrow-page,
.wide-page {
  margin: 0 0.75rem;
}

.page-title {
  margin: 0 0 1rem 1.5rem;
}

@media (min-width: 1024px) {
  .normal-page {
    flex-direction: row;
    margin: 0 auto;
    max-width: 80rem;
  }

  .normal-page__sidebar {
    width: 20rem;
  }

  .normal-page__content {
    padding-left: 1rem;
    width: 60rem;
  }

  .narrow-page {
    margin: 0 auto;
    max-width: 60rem;
  }

  .wide-page {
    margin: 0 auto;
    max-width: 80rem;
  }
}
